{% extends "_layout/base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-3 col-sm-12">
    <a class="btn btn-default" style="width:100%"
        href="{{url_for('ui.cabinet_create')}}">
      <span class="glyphicon glyphicon-plus"></span>
      Add new cabinet
    </a>
  </div>
</div>

<div class="divider-5"></div>

{% if cabinets %}

<div class="list-group">
  {% for c in cabinets %}
    <a class="list-group-item" href="#">
      {{ c.name }} ({{c.layout.name}})
    </a>
  </a>
  {% endfor %}
</div>

{% else %}

<p>There are no cabinets</p>

{% endif %}

{% endblock %}

