{% extends "_layout/base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-10 col-xs-9">
    <input type="text" class="form-control" autofocus placeholder="Search" />
  </div>
  <div class="col-sm-2 col-xs-3">
    <a class="btn btn-default" style="width: 100%"
        href="{{url_for('ui.collection_create')}}">
      <span class="glyphicon glyphicon-plus">
        <span class="sr-only">Add new collection</span>
      </span>
    </a>
  </div>
</div>

<div class="divider-5"></div>

<div class="list-group">
  {% for c in collections %}
    <a class="list-group-item" href="#">
      <span class="badge">{{ c.content_count }}</span>
      <h4 class="list-group-item-heading">
        {{c.name}}
      </h4>
      <p class="list-group-item-text">
        {{c.description}}
        {% if c.drawer %}
        <span class="text-muted">
          {{c.drawer.label}}, {{c.drawer.cabinet.name}}
        </span>
        {% endif %}
      </p>
    </a>
  </a>
  {% endfor %}
</div>

{% endblock %}
