<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projecstion"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block styles %}{% endblock %}
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}
    <div class="container">{% block content %}{% endblock %}</div>
    {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script type="text/javascript">
    $(document).ready(function() {
      {% for message in messages %}
      Materialize.toast('{{ message }}', 5000);
      {% endfor %}
    });
    </script>
    {% endif %}
    {% endwith %}
    {% block scripts %}{% endblock %}
  </body>
</html>
